html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", "Open Sans", sans-serif;
  font-weight: 400;
  color: rgb(40, 40, 40);
  font-size: 1.6rem;
  line-height: 2.6rem;
}

#root {
  width: 100%;
  overflow-x: clip;
}

img,
svg,
video {
  max-width: 100%;
  height: auto;
  display: block;
}
